<launch>
    <arg name="class_names_path" default="$(find tam_object_detection)/io/config/wrc_ycb_class_names.txt"/>
    <arg name="weight_path" default="$(find tam_object_detection)/io/models/yolov8-seg_wrc_ycb.engine"/>
    <arg name="device" default="cuda:0"/>
    <arg name="confidence_th" default="0.01"/>
    <arg name="iou_th" default="0.5"/>
    <arg name="max_area_ratio" default="0.3"/>
    <arg name="topk" default="10"/>

    <arg name="camera_info_topic" default="/rs_camera/color/camera_info"/>
    <arg name="rgb_topic" default="/rs_camera/color/image_raw/compressed"/>
    <arg name="use_depth" default="false"/>
    <arg name="depth_topic" default="/rs_camera/aligned_depth_to_color/image_raw/compressedDepth"/>

    <arg name="use_segment" default="true"/>
    <arg name="use_latest_image" default="false"/>
    <arg name="show_tf" default="false"/>
    <arg name="max_distance" default="-1"/>
    <arg name="specific_id" default=""/>

    <include file="$(find tam_object_detection)/launch/include/yolov8_trt.launch">
        <arg name="class_names_path" default="$(arg class_names_path)"/>
        <arg name="weight_path" default="$(arg weight_path)"/>
        <arg name="device" default="$(arg device)"/>
        <arg name="confidence_th" default="$(arg confidence_th)"/>
        <arg name="iou_th" default="$(arg iou_th)"/>
        <arg name="max_area_ratio" default="$(arg max_area_ratio)"/>
        <arg name="topk" default="$(arg topk)"/>

        <arg name="camera_info_topic" default="$(arg camera_info_topic)"/>
        <arg name="rgb_topic" default="$(arg rgb_topic)"/>
        <arg name="use_depth" default="$(arg use_depth)"/>
        <arg name="depth_topic" default="$(arg depth_topic)"/>

        <arg name="use_segment" default="$(arg use_segment)"/>
        <arg name="use_latest_image" default="$(arg use_latest_image)"/>
        <arg name="show_tf" default="$(arg show_tf)"/>
        <arg name="max_distance" default="$(arg max_distance)"/>
        <arg name="specific_id" default="$(arg specific_id)"/>
    </include>
</launch>
